# Working with multiple data sets

There are two data files that we'll be working with for this week's assignment.  They are described below.  Load those data files in with Pandas and then work to answering each of the questions below.

## npidata.csv

This file is basic information about every healthcare provider in the US.  It has one row for each NPI (National Provider Identifier).  It contains information such as the provider's name and address.


## cmsYYYY.csv

These are files about what kinds of procedures and patients providers in the US are serving under CMS programs, Medicare and Medicaid.  Each contains various statistics about providers over the course of a year.  There are three of these, for the years 2014, 2015, and 2016.  These files, however, don't contain information about the provider such as where the provider is located.

## Our Goals

For this assignment, we're going to want to compute some statistics based on the data in the **cms** files, but aggregate that data based on information in the **npidata** file.  As in last week's assignment, you'll need to store your answers in a variable called `answer` at the end of each step.

In [27]:
import pandas as pd

## Part 1

In this first step, we'll need to merge together all of the **cms** files into a single dataframe.  Be careful that these files might not be identical, so you'll have to look a little bit to figure out how to merge them.

As you are merging them, make sure that you retain information about which file (i.e. which year) the data came from.  Call that new columns `year`.

In your `answer` variable, provide a complete data frame that contains all of the rows and columns from the **cms** files, plus an additional column to store the year/file that particular row came from.

The assertion tests will give you a good idea as to if you're merging the files correctly.

In [28]:
answer = None

cms14 = pd.read_csv('cms2014.csv')
cms15 = pd.read_csv('cms2015.csv')
cms16 = pd.read_csv('cms2016.csv')

cms14['year']=2014
cms14.to_csv('cms2014.csv',index=False)
cms15['year']=2015
cms15.to_csv('cms2015.csv',index=False)
cms16['year']=2016
cms16.to_csv('cms2016.csv',index=False)

#Accidently introduced the 'year' columns as 'Year', so I had to drop it.
cms16 = cms16.drop(columns=['Year'])
cms15 = cms15.drop(columns=['Year'])
cms14 = cms14.drop(columns=['Year'])

cms14 = pd.DataFrame(cms14)
cms15 = pd.DataFrame(cms15)
cms16 = pd.DataFrame(cms16)

cms16.columns = map(str.lower,cms16.columns)
cms15.columns = map(str.lower,cms15.columns)
cms14.columns = map(str.lower,cms14.columns)

answer = pd.concat([cms14,cms15,cms16],ignore_index=True)
cms = answer

### SOLUTION

In [ ]:
assert(answer.shape == (193862, 60))
assert(list(answer['year'].unique()) == [2014,2015,2016])
assert(set(answer.columns.str.lower()) == set(['year', 'nbr', 'npi', 'provider_type',
       'medicare_participation_indicator', 'number_of_hcpcs', 'total_services',
       'total_unique_benes', 'total_submitted_chrg_amt',
       'total_medicare_allowed_amt', 'total_medicare_payment_amt',
       'total_medicare_stnd_amt', 'drug_suppress_indicator',
       'number_of_drug_hcpcs', 'total_drug_services',
       'total_drug_unique_benes', 'total_drug_submitted_chrg_amt',
       'total_drug_medicare_allowed_amt', 'total_drug_medicare_payment_amt',
       'total_drug_medicare_stnd_amt', 'med_suppress_indicator',
       'number_of_med_hcpcs', 'total_med_services', 'total_med_unique_benes',
       'total_med_submitted_chrg_amt', 'total_med_medicare_allowed_amt',
       'total_med_medicare_payment_amt', 'total_med_medicare_stnd_amt',
       'beneficiary_average_age', 'beneficiary_age_less_65_count',
       'beneficiary_age_65_74_count', 'beneficiary_age_75_84_count',
       'beneficiary_age_greater_84_count', 'beneficiary_female_count',
       'beneficiary_male_count', 'beneficiary_race_white_count',
       'beneficiary_race_black_count', 'beneficiary_race_api_count',
       'beneficiary_race_hispanic_count', 'beneficiary_race_natind_count',
       'beneficiary_race_other_count', 'beneficiary_nondual_count',
       'beneficiary_dual_count', 'beneficiary_cc_afib_percent',
       'beneficiary_cc_alzrdsd_percent', 'beneficiary_cc_asthma_percent',
       'beneficiary_cc_cancer_percent', 'beneficiary_cc_chf_percent',
       'beneficiary_cc_ckd_percent', 'beneficiary_cc_copd_percent',
       'beneficiary_cc_depr_percent', 'beneficiary_cc_diab_percent',
       'beneficiary_cc_hyperl_percent', 'beneficiary_cc_hypert_percent',
       'beneficiary_cc_ihd_percent', 'beneficiary_cc_ost_percent',
       'beneficiary_cc_raoa_percent', 'beneficiary_cc_schiot_percent',
       'beneficiary_cc_strk_percent', 'beneficiary_average_risk_score']))

## Part 2

In this next part, we're going to join the **cms** data with the provider information in the **/data/npidata.csv** file.  In this join, we don't want to lose any records from the **cms** files, even if no matching provider exists in the **npidata** file.  However, we don't care about any providers from the **npidata** file that don't have records in the **cms** files.  Those providers can be ignored.

Join the data files together to create one unified data frame called `answer`.  This dataframe should have all the columns from both **cms** and **npidata** files, joined together using the `npi` column.  

Note that `npi` is unique in the **npidata** file.

In [29]:
import numpy

answer = None

npi = pd.read_csv('npidata.csv')
x1 = cms['npi'].unique()
npi.columns = map(str.lower,npi.columns)
x2 = npi['npi'].unique()
x3 = npi[npi['npi'].isin(x1)]

x4 = x3.merge(cms,how='outer',on='npi')
answer = x4

### SOLUTION

/opt/tljh/user/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (18,33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
import numpy
assert(answer.shape == (193862, 103))
assert(list(answer['Provider Business Mailing Address State Name'].unique()) == ['IL','MO',numpy.nan,'WY'])
assert(list(answer.groupby('Provider Business Mailing Address State Name').NPI.count()) == [111520, 53366, 4805])

## Part 3

If you did everything right above, you'll notice that grouping by a column with NaN in it will cause some rows to disappear from the aggregation test.  So, let's create a new column called `'State'` that has the same value as whatever is in the `'Provider Business Mailing Address State Name'` column or a value of `'XX'` if there is no state information.

Set `answer` to be your final data frame with the new `'State'` column added.

In [36]:
answer = None
x5 = npi['provider business mailing address state name'].iloc[x3.index]
npi['state'] = x5
npi['state'].fillna('XX',inplace=True)

x6 = cms['npi'].unique()
npi.columns = map(str.lower,npi.columns)
x7 = npi[npi['npi'].isin(x1)]

x8 = x7.merge(cms,how='outer',on='npi')
answer = x8
answer['state'].fillna('XX',inplace=True)

#remove the values that were removed from x4 and replace the nan values with 'XX'

### SOLUTION

0          MO
1          MO
2          MO
3          IL
4          IL
         ...
193857    NaN
193858    NaN
193859    NaN
193860    NaN
193861    NaN
Name: state, Length: 193862, dtype: object

In [ ]:
assert(list(answer.groupby('State').npi.count()) == [111520, 53366, 4805, 24171])
assert(answer.shape == (193862, 104))

## Part 4

Next, let's summarize the data by year and by State.  Create a pivot table that contains one row for each state and one column for each year.  Within the pivot table, put a sum of total services as the values.

Assign `answer` to be that resulting pivot table.  In the tests, I'm going to plot a bar chart of your pivot table.

In [85]:
%matplotlib inline
answer = None

x8['state'].fillna('XX',inplace=True)
x9 = pd.pivot_table(x8,index='state',columns='year',aggfunc=sum)
answer=x9['total_services']
### SOLUTION

year          2014         2015         2016
state
IL     101393758.4  103048716.3  105432032.4
MO      48577227.1   50808468.0   50854632.1
WY       3487240.6    3800978.9    3604487.9
XX      14938636.4   16533705.2   16705781.4

In [ ]:
assert(answer.shape == (4,3))
assert(answer.sum().sum() == 519185664.6999999)
assert(answer[2016].sum() == 176596933.80000004)
assert(answer.loc['WY'].sum() == 10892707.4)

In [ ]:
%matplotlib inline
answer.plot.bar()