# Working with a database

This week's assignment has a few basic steps.  First, we're going to pull some data down off the internet and store it into our MySQL database.  Make sure that you use your username as part of the table name as show in the examples so that you don't create a problem for other students.

Then, we'll merge that with some data already in the database and calculate a few results.  When it comes to calculating the results, you can do so either with SQL or with Pandas operations.

## PART 1: Setup your database connection and table name

In the code below, change the value of the variable `MYTABLE` to use your own username rather that `'pboal'`

You can then use `MYTABLE` in the rest of your code to reference that table name.

In [1]:
#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!
# First, put in your user name below
#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!#!
import os
import pymysql
from sqlalchemy import create_engine
import pandas as pd

host = 'slucor2020.cgdcoitnku0k.us-east-1.rds.amazonaws.com'
port = '3306'
user = 'slucor2020'
password = 'SLUcor2020'
database = 'hds5210'

MYTABLE='jmccar23' + '_data'


# Then, create a connection to the same database, using the 
# same user name and password in the `mysql-examples.ipynb` 
# file.  Use conn as the database connection variable.

conn = create_engine('mysql+pymysql://' + 
                     user + ':' + 
                     password + '@' + 
                     host + '/' + 
                     database, echo=False)

In [ ]:
assert(MYTABLE != 'paulboal_data')
assert(conn.connect())

## PART 2: Bring in outside data

Grab the data from this URL and put it into a database table named with your `username_data`.

http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv

By the end of your cell, the table should be created.  The tests are going to verify that the table exists and looks right.

In [2]:
import mysql.connector

url = 'http://dhcs-chhsagency.opendata.arcgis.com/datasets/8e4f3a0c75b9424d888d11c1f949cc32_0.csv'
dxyz = pd.read_csv(url)
dxyz = pd.DataFrame(dxyz)
conn.connect()
dxyz.to_sql('jmccar23_data',con=conn)
#pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)

### SOLUTION GOES HERE

ValueError: Table 'jmccar23_data' already exists.

In [3]:
dxyz = pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)
assert(dxyz.shape == (328,22))
assert(list(dxyz.columns) == ['index', 'X', 'Y', 'Provider_Name', 'NPI', 'CCN',
       'Medicaid_EP_Hospital_Type', 'Street_Address', 'City', 'County',
       'State', 'Zip_Code', 'Payment_Year_Number', 'Program_Type',
       'Total_payments', 'Last_Program_Year', 'Last_Payment_Year',
       'Last_Payment_Criteria', 'Most_Recent_Disbursement_Amount', 'LONGITUDE',
       'LATITUDE', 'FID'])

## PART 3: Combine with other data in the database

In the database, there is an existing table called `population`.  We want to merge the DHCS datafile loaded above with the population data available in this other database table  The tables can be merged on `MYTABLE`'s `Zip_Code` field and `population`'s `zipcode` field.

Note that not all `Zip_Codes` from your downloaded file have to be in the `population` table.  If they aren't, then I want you to eliminate the non-matching records.  That is, only keep the records that have a matching ZIP code in both sets of data.

Answer the question:
Which providers are located in the zipcode with the largest population?

Put your answer in the form `answer = ['a', 'list', 'of', 'NPI', 'like', '1593042103]`

In [4]:
### SOLUTION GOES HERE
answer = []

dxyz = pd.read_sql_query('SELECT * FROM ' + MYTABLE, conn)
jjaw = pd.read_sql_query('SELECT * FROM population', conn)
#len(jjaw['zipcode'].unique())==len(dxyz['Zip_Code'].unique())
jmac = dxyz['Zip_Code'].unique()

#using 'jmac' didn't work, so I had to print it and copy and paste it
djax = pd.read_sql_query('SELECT * FROM population WHERE zipcode IN (94114, 92843, 92307, 93637, 92592, 92395, 95065, 92868, 92404,94143, 92691, 92870, 92024, 95476, 92123, 95817, 95076, 94574,95901, 90804, 91754, 94110, 94598, 94609, 94115, 95337, 95405,91773, 91010, 91402, 93901, 96093, 91403, 93454, 95616, 91801,93420, 95376, 90089, 94538, 92311, 91355, 95370, 91786, 92805,92324, 94520, 92056, 94545, 96104, 94509, 95816, 92708, 90027,94533, 92555, 91356, 94546, 93545, 91206, 92037, 94531, 90806,92243, 92804, 94305, 95966, 90012, 93401, 90255, 94806, 93230,92835, 92801, 90048, 90095, 90503, 96028, 90023, 92627, 95695,93514, 93940, 90732, 95825, 90033, 95453, 91710, 93546, 95667,95608, 91723, 92705, 91763, 91741, 95336, 95231, 94133, 90301,91733, 90704, 95361, 95490, 95630, 95661, 91950, 92335, 93534,94589, 92354, 92064, 93306, 94403, 94063, 94553, 95020, 95382,94904, 91911, 93465, 96020, 91767, 91105, 95403, 91325, 95926,90623, 92869, 93240, 90404, 94611, 90026, 95124, 91436, 92028,92252, 93555, 95642, 92025, 92882, 95531, 92363, 94304, 90509,93301, 95823, 92585, 95948, 93105, 90502, 92201, 91345, 91706,91204, 96001, 96101, 95819, 90262, 91007, 93551, 90017, 95472,90020, 95249, 90242, 95340, 96067, 94010, 95969, 92663, 95521,91942, 95204, 95437, 95203, 96130, 96161, 91352, 92704, 92220,90720, 91405, 93291, 92563, 95501, 95988, 95355, 93003, 93405,93257, 90004, 90018, 91740, 95128, 92103, 95945, 95542, 96150,92120, 94705, 92270, 90605, 91401, 91307, 93635, 90602, 95540,92373, 90716, 92780, 90247, 93065, 95119, 92227, 92315, 93030,92647, 96080, 93720, 94602, 96097, 94945, 92262, 93721, 90706,90015, 92543, 90059, 93930, 92501, 90057, 95422, 91342, 90034,95932, 93215, 92807, 92118, 94015, 94117, 90640, 95350, 93210,90712, 95338, 90650, 92225, 93436, 95602, 95448, 90813, 93010,94903, 93308, 93906, 90232, 92866, 93111, 92503, 94501, 95482,94954, 94558, 92411, 92562, 90036, 92352, 93212, 90241, 93561,92653, 95023, 93636, 91776, 95116, 91367, 93274, 91360, 92505,93611, 94109, 95240, 96122, 95971, 95051, 93654, 91505, 90710)', conn)
dxyz=dxyz.rename(columns={'Zip_Code':'zipcode'})

dxyz = pd.concat([dxyz,djax],sort=True)

xxxx=dxyz.nlargest(1,['population'])
xxx=xxxx['zipcode']
#print(xxx) to find the zipcode value of 90650
xx=dxyz[dxyz['zipcode']==90650]['NPI']
xx=int(xx)
answer = [str(xx)]

In [ ]:
assert(type(answer) == list)
assert(answer == ['1194016923'])

## PART 4: Total by hospital type

This is a multistep process:
* From our downloaded data file, compute the `Total payments` per ZIP code and Medicaid EP Hospital Type.
* Then merge that with the `population` data to compute a `Total payments` per person.
* Then average that across all of the `Medicaid EP Hospital Types` to get an average per persona payment for these type of hospital.

Your answer should be in structure of a data frame with at least two columns:
* Medicaid_EP_Hospital_Type
* Avg_Pay_per_Capita

In [225]:
### SOLUTION GOES HERE
answer = None

#pd.set_option('display.max_rows',3000)
#pd.set_option('display.max_columns',365)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')


z1 = dxyz.groupby('zipcode')['population']
z2=pd.DataFrame(z1)

z3=dxyz.groupby('zipcode')['Total_payments']
z3=pd.DataFrame(z3)
z3=z3.set_index(0)

z2=z2.set_index(0)
z4 = z2/z3

z5=dxyz.groupby(['zipcode','Medicaid_EP_Hospital_Type'])
z5=pd.DataFrame(z5)
z5=z5.set_index(0)
z5=z5.assign(Avg_Pay_per_Capita=z4)
answer=z5
#could not get z2 or z3 to give me the proper population and total payments in a way for me to divide them

In [ ]:
assert(type(answer) == pd.core.frame.DataFrame)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Acute Care Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 17974.363)
assert(round(answer.query("Medicaid_EP_Hospital_Type == 'Children\\'s Hospitals'")['Avg_Pay_per_Capita'].sum(),3) == 111.559)